/* Reset CSS */
* { margin: 0; padding: 0; box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
==============================
Table of Contents
==============================
  0. Reset
  1. Classes
  2. Components
    - Header
    - Footer
  3. Views
    - Homepage
  4. Media Queries
  5. Animations
*/

/* 0. Reset
----------------------------*/
:root {
  --blue: #0D395D;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100%;
  background: #111;
  width: 100%;
}
br, hr {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* 1. Classes
----------------------------*/
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

/* 2. Components 
----------------------------*/
/* Header */
#main-header {
  background: transparent;
  position: fixed;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10000000000;
  background: linear-gradient(#333 1%, transparent 90%);
}
#main-header #logo {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#main-header nav {
  display: flex;
  align-items: center;
}
#main-header nav ul { display: flex; list-style-type: none; height: 100%; align-items: center; }
#main-header nav ul li { margin: 0px 10px; list-style-type: none; height: 100%; display: flex; align-items: center; }
#main-header nav ul li a { text-decoration: none; font-family: 'Poppins', sans-serif; color: #fff; display: flex; height: 100%; position: relative;  }
#main-header nav ul li a p { display: flex; height: 100%; align-items: center; font-size: 14px; }

#main-header nav ul li:hover a::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%; 
  bottom: 10px;
  background-color: #fff; 
  left: 0;
  position: absolute;
}

/* 3. Pages
----------------------------*/
/* Coming Soon */
#comingSoon {
  height: 100%;
  min-height: 100vh;
  color: #fff;
  font-family: 'Playfair Display', serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Homepage */
#homepage {
  height: 100%;
  min-height: 200vh;
  background-color: #fff;
  background-position: 50%;
  overflow: hidden;
}
#homepage #landing .scrollDown {
  position: absolute;
  bottom: 50px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
}
#homepage #landing{
  background-color: #fff;
  height: 100%;
  min-height: 760px;
  max-height: 100vh;
  position: relative;
}
#homepage #landing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}
#homepage #landing .hero {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('./assets/images/Isa-Jk.jpg');
  background-size: cover;
  background-position: center;
}
#homepage #landing .subtitle {
  color: #000;
  position: absolute;
  z-index: 1000;
  text-align: right;
  top: 70%;
  transform: translate(0%,-50%);
  right: 0;
  padding: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#homepage #landing .subtitle h1{
  font-size: clamp(3rem, 10vw, 7rem);
  font-family: 'Playfair Display', serif;
  line-height: 0.9em;
}
#homepage #landing .subtitle p {
  padding: 20px 0px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

/* Homepage: second */
#homepage #second {
  width: 100%;
  z-index: 1000;
}
#homepage .wrapper {
  height: 100%;
  display: flex;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
#homepage .wrapper.fff {
  opacity: 1;
  transition: 0.3s;
  background-color: #fff;
  position: relative;
}
#homepage .wrapper div {
  height: 100%;
  width: 100%;
}
#homepage .wrapper .first {
  background-position: 53% 41%;
  position: relative;
  z-index: 10;
}
#homepage .wrapper .second {
  background-position: 46% 36%;
  transform: scaleX(-1);
  position: relative;
  z-index: 10;
}
.displayNone {
  display: none;
}

/* Second */
#second .container h1{
  font-size: clamp(1rem, 10vw, 12rem);
  font-weight: 800;
  line-height: 0.9em;
  text-align: center;
  width: 100%;
}
#second .container .wrapper-element {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

/* 4. Media Queries
----------------------------*/

/* Desktop */
@media only screen and (max-width: 568px) {
  #homepage #landing .hero {
    padding: 0;
    border-radius: 0;
    top: 0;
    width: 100%;
    background-image: url('./assets/images/PHS06775-Edit.jpg');
    background-position: center 90%;
    color: #fff;
  }
  #homepage #landing .subtitle h1 {
    font-size: 15vw;
  }
  #homepage #second .wrapper {
    flex-direction: column;
  }
  #homepage #second .wrapper div {
    width: 100% !important;
    height: 25% !important;
  }
  #homepage #second .wrapper .first { background-position: 51% 39%; }
  #homepage #second .wrapper .second { background-position: 45% 34%; }
}