/* Reset CSS */
* { margin: 0; padding: 0; box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
==============================
Table of Contents
==============================
  0. Reset
  1. Classes
  2. Components
    - Header
    - Footer
  3. Views
    - Homepage
    - Details
  4. Media Queries
  5. Animations
*/

/* 0. Reset
----------------------------*/
:root {
  --blue: #0D395D;
  --pink: #B48082;
  --lightpink: #E5D1CF
}

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
br, hr {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* 1. Classes
----------------------------*/
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
.spacer {
  min-height: 100vh;
  height: 100%;
}
.pin-spacer:nth-child(3){ height: 0 !important; padding: 0px !important; }

/* 2. Components 
----------------------------*/
/* Header */
#main-header {
  background: transparent;
  position: fixed;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10000000000;
  background: linear-gradient(#333 1%, transparent 90%);
}
#main-header #logo {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#main-header nav {
  display: flex;
  align-items: center;
}
#main-header nav ul { display: flex; list-style-type: none; height: 100%; align-items: center; }
#main-header nav ul li { margin: 0px 10px; list-style-type: none; height: 100%; display: flex; align-items: center; }
#main-header nav ul li a { text-decoration: none; font-family: 'Poppins', sans-serif; color: #fff; display: flex; height: 100%; position: relative;  }
#main-header nav ul li a p { display: flex; height: 100%; align-items: center; font-size: 14px; }

#main-header nav ul li:hover a::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%; 
  bottom: 10px;
  background-color: #fff; 
  left: 0;
  position: absolute;
}

/* 3. Pages
----------------------------*/
/* Coming Soon */
#comingSoon {
  height: 100%;
  min-height: 100vh;
  color: #fff;
  font-family: 'Playfair Display', serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Homepage */
#homepage {
  height: 100%;
  min-height: 200vh;
  background-color: #fff;
  background-position: 50%;
  overflow: hidden;
}
#homepage #landing {
  opacity: 0;
  transition: opacity 0.1s;
  position: relative;
  z-index: 100;
}
#homepage #landing .scrollDown {
  position: fixed;
  bottom: 50px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  z-index: 1;
  text-align: center;
}
#homepage #landing.is-active { 
  opacity: 1; 
  transition: 0.1s;
  background-color: #fff;
  height: 100%;
  min-height: 760px;
  max-height: 100vh;
  position: relative;
  transition: 0.1s;
}
#homepage #landing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}
#homepage #landing .hero {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('./assets/images/Isa-Jk.jpg');
  background-size: cover; 
  transition: 0.1s; 
  background-position: center;
}
#homepage #landing .subtitle {
  color: #000;
  position: absolute;
  z-index: 1000;
  text-align: right;
  top: 70%;
  transform: translate(0%,-50%);
  right: 0;
  padding: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#homepage #landing .subtitle h1{
  font-size: clamp(3rem, 10vw, 7rem);
  font-family: 'Playfair Display', serif;
  line-height: 0.9em;
}
#homepage #landing .subtitle p {
  padding: 20px 0px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

/* Homepage: second */
#homepage #second {
  width: 100%;
  z-index: 1000;
  height: 100%;
  max-height: 568px;
  min-height: 100vh;
  background: #E5D1CF
}
#second .wrapper { 
  opacity: 0; 
  height: 100%;
  display: flex;
  transition: 0.1;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}
#second .wrapper.active {
  opacity: 1;
  transition: 0.1s;
}
#second .wrapper div {
  height: 100%;
  width: 100%;
}
#second .wrapper .first {
  background-position: 53% 41%;
  position: relative;
  background-size: cover;
  z-index: 10;
}
#second .wrapper .second {
  background-position: 46% 36%;
  background-size: cover;
  transform: scaleX(-1);
  position: relative;
  z-index: 10;
}
#second .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 160px;
}
#second .details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#second .details h1 {
  font-size: clamp(1rem, 5vw, 12rem);
  line-height: 0.9em;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0px 12px;
  border-right: solid 2px var(--blue);
  color: var(--blue);
}
#second .details section {
  width: 100%;
  padding: 0px 24px;
  flex: 1.5;
}
#second .details section div {
  padding-bottom: 12px;
  font-family: 'Poppins', sans-serif !important;
}
#second .details section h2 { color: var(--blue); font-weight: 500; }
#second .details section p { color: var(--blue); font-weight: 300; color: #000; }
#second .details section h2,
#second .details section p {
  padding: 6px 0px;
  font-family: 'Poppins', sans-serif !important;
}
/* Fourth */
#fourth {
  height: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: var(--lightpink);
  padding: 12px;
}
#fourth header {
  font-size: 32px;
  text-align: center;
}
#fourth .flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#fourth h1,
#fourth h2,
#fourth h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 5px 0px;
  color: var(--blue)
}
#fourth div section div{
  padding: 24px 0px;
  flex-direction: column;
}
#fourth p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 5px 0px;
}
#fourth main {
  display: flex;
  justify-content: space-around;
}


/* Fifth */
#fifth {
  height: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E5D1CF;
  position: relative;
  z-index: 1000;
}
#fifth .logo-wrapper { 
  padding: 12px; 
  border: solid 2px #0A395C; 
  border-radius: 150px; 
  background-image: url('./assets/images/WaxSealPatternjpg.jpg')
}
#fifth .logo {
  height: 150px;
  width: 150px;
  background-image: url('./assets/images/WaxSealPatternjpg.jpg');
  background-size: cover;
  background-position: center;
  padding: 24px;
  border-radius: 150px;
  border: solid 2px #fff;
}
#fifth .logo {
  content: "";
  display: block;
  border: solid 2px #fff;
}

.ribbon {
  height: 600px;
  position: relative;
  width: 100%;
  max-width: 320px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ribbon::after {
  content: "";
  height: 0;
  width: 0;
  border-left: 160px solid #E5D1CF;
  border-right: 160px solid #E5D1CF;
  border-bottom: 160px solid transparent;
  bottom: -30px;
  position: absolute;
  top: 0;
}
.ribbon #envelope {
  height: 100%;
  max-height: 276px;
  background: #eee;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 24px;
  z-index: 10000;
}
.ribbon #envelope::before {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 160px 0 0 320px;
  border-color: transparent transparent transparent #eee;
  position: absolute;
  top: -58%;
}
.ribbon #envelope::after {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 160px 0 0 320px;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  top: -58%;
}
.ribbon #envelope img {
  fill: #0A395C;
}
.ribbon .letter {
  height: 600px;
  width: 300px;
  position: absolute;
  bottom: -50%;
  background: #F7F7E6;
  z-index: 10;
  padding: 32px 0px;
  text-align: center;
  font-size: 32px;
}
.ribbon .letter a {
  font-size: 16px;
  background: var(--blue);
  color: #fff;
  line-height: 1em;
  text-decoration: none;
  padding: 12px 24px;
}

/* Details Page */
#attire {
  height: 100%;
  min-height: 150vh;
  background: #0D395D;
  padding: 24px;
}
#attire .container header {
  display: flex;
}
#attire h1 {
  font-size: clamp(2rem, 5vw, 12rem);
  font-weight: 800;
  color: #333;
  line-height: 0.8em;
  padding: 24px 0px;
  text-align: left;
  color: var(--pink);
}
#attire .content {
  width: 100%;
  color: #fff;
  border-radius: 10px;
}
#attire .container { 
  padding: 50px 0px; 
}
#attire .col header { 
  display: flex; 
  align-items: flex-start;
  width: 100%; 
  padding: 10px 0px;
}
#attire .col header h1 { 
  font-weight: 200; 
  height: 100%; 
  font-size: clamp(1.5rem, 2vw, 9rem);
  text-align: left;
}
#attire .col header h3 {
  font-size: clamp(1rem, 1.5vw, 12rem);
}
#attire .col { 
  display: flex; 
  justify-content: space-between; 
  align-items: flex-end; 
  border-top: solid 1px #245a81; 
}
#attire .col ul { margin-left: 18px; }
#attire .col ul li { font-family: 'Poppins', sans-serif; font-weight: 300; }
#attire .col section {
  display: flex;
  flex-direction: column;
}
#attire .col section div { padding:  24px 12px; width: 100%; }
#attire p { font-family: 'Poppins', sans-serif; }
#attire .col .colors { padding: 10px 0px; width: 100%; max-width: 270px; }
#attire .col .colors div { 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}
#attire .react-parallax { 
  display: flex; 
  align-items: flex-start;
  justify-content: center; 
}
#attire .react-parallax img { 
  transform: translate(-50%,-50%)}
#attire .col span { 
  height: 25px; 
  width: 25px; 
  border-radius: 100px; 
  display: flex; 
  border: solid 2px #fff; 
  margin: 10px 8px;
}
#attire .col .title { padding: 10px 12px ; }
#attire .col .title h3 { padding: 10px 0px ; color: #fff }
#attire .col .kulay { padding: 0px; }
#attire #guests section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#attire .mosaic {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#attire .mosaic div {
  width: 100%;
  min-width: 100px;
  max-width: 150px;
  height: 100%;
  min-height: 150px;
  border-radius: 4px;
  margin: 5px;
  border: solid 1px #fff;
  background-size: cover;
  background-position: center;
}

/* FAQs Page */
#covid {
  height: 100%;
  background-size: 150px;
  background-repeat: repeat;
  background-color: var(--blue);
  padding: 150px 24px 50px;
}
#covid header {
  border-bottom: solid 1px #fff;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
#covid header h1 {
  font-family: 'Playfair Display', serif;
  line-height: 0.8em;
  font-size: clamp(1rem, 8vw, 12rem);
  color: #fff;
  text-align: right;
  padding: 12px;
}
#covid header p {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 0px 24px;
  flex: 2;
  width: 100%;
  max-width: 360px;
  line-height: 1.75em
}
#covid main div {
  display: flex;
  align-items: flex-end;
  color: #fff;
}
#covid main div h1 {
  text-align: center;
  font-size: 50px; 
  line-height: 1em; 
  height: 100%;
  padding: 12px;
  display: block;
  width: 100px;
}
#covid main div p { 
  flex: 5; 
  font-family: 'Poppins', sans-serif; 
  color: #fff;
  padding: 75px;
  padding-bottom: 0px;
  line-height: 1.75em;
  display: flex;
}
#covid main div div {
  width: 100%;
  border-left: solid 1px #fff;
  display: flex;
  align-items: flex-end;
  flex: 3;
}


/* 4. Media Queries
----------------------------*/
/* Tablet */
@media only screen and (max-width: 1080px) {
  #attire h1 { text-align: left; }
  #attire #guests section { flex-direction: column; }
  #fourth main { flex-direction: column; }
}

/* Desktop */
@media only screen and (max-width: 568px) {
  #homepage #landing .hero {
    padding: 0;
    border-radius: 0;
    top: 0;
    width: 100%;
    background-image: url('./assets/images/PHS06775-Edit.jpg');
    background-position: center 90%;
    color: #fff;
  }
  #homepage #landing .subtitle h1 {
    font-size: 15vw;
  }
  #homepage #second .wrapper .first { background-position: 51% 39%; }
  #homepage #second .wrapper .second { background-position: 44% 34%; }
  #attire .col { flex-direction: column; align-items: flex-start; }
  #fourth .flex { flex-direction: column; }
}